.experiences {
  //Section 1
  .bg-section-one {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      ),
      url(/assets/images/tribes/tribes/Megha_3059.webp);
    background-size: cover;

    .stacked__images__one {
      #top__image__1 {
        div {
          background: url("../assets/images/tribes/tribes/archery.webp") !important;
          background-size: cover !important;
          // background-position: right center !important;
        }
      }
      #bottom__image__1 {
        div {
          background: url("../assets/images/tribes/tribes/Megha_2890.webp") !important;
          background-size: cover !important;
          // background-position: right center !important;
        }
      }
    }
  }
}

.no-webp {
  .experiences {
    //Section 1
    .bg-section-one {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0)
        ),
        url(/assets/images/tribes/tribes/Megha_3059.jpg);
      background-size: cover;

      .stacked__images__one {
        #top__image__1 {
          div {
            background: url("../assets/images/tribes/tribes/archery.jpg") !important;
            background-size: cover !important;
            // background-position: right center !important;
          }
        }
        #bottom__image__1 {
          div {
            background: url("../assets/images/tribes/tribes/Megha_2890.jpg") !important;
            background-size: cover !important;
            // background-position: right center !important;
          }
        }
      }
    }
  }
}
