.aoleang-festival .bg-section-one {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/aoleang-festival/aoleang-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/aoleang-festival/aoleang-1.webp);
  background-size: cover;
}

.aoleang-festival .bg-section-two {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/aoleang-festival/aoleang-2.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/aoleang-festival/aoleang-2.webp);
  background-size: cover;
}

.aoleang-festival .bg-section-three {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/aoleang-festival/aoleang-3.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/aoleang-festival/aoleang-3.webp);
  background-size: cover;
}

.aoleang-festival .bg-section-four {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/aoleang-festival/aoleang-4.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/aoleang-festival/aoleang-4.webp);
  background-size: cover;
}

.aoleang-festival .bg-section-five {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/aoleang-festival/aoleang-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/aoleang-festival/aoleang-1.webp);
  background-size: cover;
}

.aoleang-festival #image__gallery__image__1 {
  background: url("/assets/images/festivals/aoleang-festival/gallery-1.webp") !important;
  background-size: cover !important;
}

.aoleang-festival #image__gallery__image__2 {
  background: url("/assets/images/festivals/aoleang-festival/gallery-2.webp") !important;
  background-size: cover !important;
}

.aoleang-festival #image__gallery__image__3 {
  background: url("/assets/images/festivals/aoleang-festival/gallery-3.webp") !important;
  background-size: cover !important;
}

.aoleang-festival #image__gallery__image__4 {
  background: url("/assets/images/festivals/aoleang-festival/gallery-4.webp") !important;
  background-size: cover !important;
}

.aoleang-festival #image__gallery__image__5 {
  background: url("/assets/images/festivals/aoleang-festival/gallery-5.webp") !important;
  background-size: cover !important;
}

.aoleang-festival #image__gallery__image__6 {
  background: url("/assets/images/festivals/aoleang-festival/gallery-6.webp") !important;
  background-size: cover !important;
}

.hornbill-festival .bg-section-one {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/hornbill-festival/hornbill-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/hornbill-festival/hornbill-1.webp);
  background-size: cover;
}

.hornbill-festival .bg-section-two {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/hornbill-festival/hornbill-2.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/hornbill-festival/hornbill-2.webp);
  background-size: cover;
}

.hornbill-festival .bg-section-three {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/hornbill-festival/hornbill-3.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/hornbill-festival/hornbill-3.webp);
  background-size: cover;
}

.hornbill-festival .bg-section-four {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/hornbill-festival/hornbill-4.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/hornbill-festival/hornbill-4.webp);
  background-size: cover;
}

.hornbill-festival .bg-section-five {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/hornbill-festival/hornbill-5.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/hornbill-festival/hornbill-5.webp);
  background-size: cover;
}

.hornbill-festival #image__gallery__image__1 {
  background: url("/assets/images/festivals/hornbill-festival/gallery-1.webp") !important;
  background-size: cover !important;
}

.hornbill-festival #image__gallery__image__2 {
  background: url("/assets/images/festivals/hornbill-festival/gallery-2.webp") !important;
  background-size: cover !important;
}

.hornbill-festival #image__gallery__image__3 {
  background: url("/assets/images/festivals/hornbill-festival/gallery-3.webp") !important;
  background-size: cover !important;
}

.hornbill-festival #image__gallery__image__4 {
  background: url("/assets/images/festivals/hornbill-festival/gallery-4.webp") !important;
  background-size: cover !important;
}

.hornbill-festival #image__gallery__image__5 {
  background: url("/assets/images/festivals/hornbill-festival/gallery-5.webp") !important;
  background-size: cover !important;
}

.hornbill-festival #image__gallery__image__6 {
  background: url("/assets/images/festivals/hornbill-festival/gallery-6.webp") !important;
  background-size: cover !important;
}

.mopin-festival-of-the-galos .bg-section-one {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/mopin-festival/mopin-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/mopin-festival/mopin-1.webp);
  background-size: cover;
}

.mopin-festival-of-the-galos .bg-section-two {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/mopin-festival/mopin-2.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/mopin-festival/mopin-2.webp);
  background-size: cover;
}

.mopin-festival-of-the-galos .bg-section-three {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/mopin-festival/mopin-3.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/mopin-festival/mopin-3.webp);
  background-size: cover;
}

.mopin-festival-of-the-galos .bg-section-four {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/mopin-festival/mopin-4.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/mopin-festival/mopin-4.webp);
  background-size: cover;
}

.mopin-festival-of-the-galos .bg-section-five {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/mopin-festival/mopin-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/mopin-festival/mopin-1.webp);
  background-size: cover;
}

.mopin-festival-of-the-galos #image__gallery__image__1 {
  background: url("/assets/images/festivals/mopin-festival/gallery-1.webp") !important;
  background-size: cover !important;
}

.mopin-festival-of-the-galos #image__gallery__image__2 {
  background: url("/assets/images/festivals/mopin-festival/gallery-2.webp") !important;
  background-size: cover !important;
}

.mopin-festival-of-the-galos #image__gallery__image__3 {
  background: url("/assets/images/festivals/mopin-festival/gallery-3.webp") !important;
  background-size: cover !important;
}

.mopin-festival-of-the-galos #image__gallery__image__4 {
  background: url("/assets/images/festivals/mopin-festival/gallery-4.webp") !important;
  background-size: cover !important;
}

.mopin-festival-of-the-galos #image__gallery__image__5 {
  background: url("/assets/images/festivals/mopin-festival/gallery-5.webp") !important;
  background-size: cover !important;
}

.mopin-festival-of-the-galos #image__gallery__image__6 {
  background: url("/assets/images/festivals/mopin-festival/gallery-6.webp") !important;
  background-size: cover !important;
}

.reh-festival-of-the-idu-mishmis .bg-section-one {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/reh-festival/reh-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/reh-festival/reh-1.webp);
  background-size: cover;
}

.reh-festival-of-the-idu-mishmis .bg-section-two {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/reh-festival/reh-2.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/reh-festival/reh-2.webp);
  background-size: cover;
}

.reh-festival-of-the-idu-mishmis .bg-section-three {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/reh-festival/reh-3.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/reh-festival/reh-3.webp);
  background-size: cover;
}

.reh-festival-of-the-idu-mishmis .bg-section-four {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/reh-festival/reh-4.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/reh-festival/reh-4.webp);
  background-size: cover;
}

.reh-festival-of-the-idu-mishmis .bg-section-five {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/reh-festival/reh-5.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/reh-festival/reh-5.webp);
  background-size: cover;
}

.reh-festival-of-the-idu-mishmis #image__gallery__image__1 {
  background: url("/assets/images/festivals/reh-festival/gallery-1.webp") !important;
  background-size: cover !important;
}

.reh-festival-of-the-idu-mishmis #image__gallery__image__2 {
  background: url("/assets/images/festivals/reh-festival/gallery-2.webp") !important;
  background-size: cover !important;
}

.reh-festival-of-the-idu-mishmis #image__gallery__image__3 {
  background: url("/assets/images/festivals/reh-festival/gallery-3.webp") !important;
  background-size: cover !important;
}

.reh-festival-of-the-idu-mishmis #image__gallery__image__4 {
  background: url("/assets/images/festivals/reh-festival/gallery-4.webp") !important;
  background-size: cover !important;
}

.reh-festival-of-the-idu-mishmis #image__gallery__image__5 {
  background: url("/assets/images/festivals/reh-festival/gallery-5.webp") !important;
  background-size: cover !important;
}

.reh-festival-of-the-idu-mishmis #image__gallery__image__6 {
  background: url("/assets/images/festivals/reh-festival/gallery-6.webp") !important;
  background-size: cover !important;
}

.the-sonam-losar-festival .bg-section-one {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/sonam-losar-festival/sonam-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/sonam-losar-festival/sonam-1.webp);
  background-size: cover;
}

.the-sonam-losar-festival .bg-section-two {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/sonam-losar-festival/sonam-2.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/sonam-losar-festival/sonam-2.webp);
  background-size: cover;
}

.the-sonam-losar-festival .bg-section-three {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/sonam-losar-festival/sonam-3.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/sonam-losar-festival/sonam-3.webp);
  background-size: cover;
}

.the-sonam-losar-festival .bg-section-four {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/sonam-losar-festival/sonam-4.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/sonam-losar-festival/sonam-4.webp);
  background-size: cover;
}

.the-sonam-losar-festival .bg-section-five {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/festivals/sonam-losar-festival/sonam-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/festivals/sonam-losar-festival/sonam-1.webp);
  background-size: cover;
}

.the-sonam-losar-festival #image__gallery__image__1 {
  background: url("/assets/images/festivals/sonam-losar-festival/gallery-1.webp") !important;
  background-size: cover !important;
}

.the-sonam-losar-festival #image__gallery__image__2 {
  background: url("/assets/images/festivals/sonam-losar-festival/gallery-2.webp") !important;
  background-size: cover !important;
}

.the-sonam-losar-festival #image__gallery__image__3 {
  background: url("/assets/images/festivals/sonam-losar-festival/gallery-3.webp") !important;
  background-size: cover !important;
}

.the-sonam-losar-festival #image__gallery__image__4 {
  background: url("/assets/images/festivals/sonam-losar-festival/gallery-4.webp") !important;
  background-size: cover !important;
}

.the-sonam-losar-festival #image__gallery__image__5 {
  background: url("/assets/images/festivals/sonam-losar-festival/gallery-5.webp") !important;
  background-size: cover !important;
}

.the-sonam-losar-festival #image__gallery__image__6 {
  background: url("/assets/images/festivals/sonam-losar-festival/gallery-6.webp") !important;
  background-size: cover !important;
}

.three__column__content__original {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] !important;
      grid-template-columns: repeat(3, 1fr) !important;
}

.three__column__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 40% auto;
      grid-template-columns: 50% 40% auto;
}

.three__column__content .content__1 div .image-container {
  margin: 4em 0;
  width: 10%;
}

.three__column__content .content__2 .image-container {
  width: 15%;
}

.three__column__content__inverted {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40% 55%;
      grid-template-columns: auto 40% 55%;
}
/*# sourceMappingURL=festival-details.css.map */