.tribes .bg-section-one {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/tribes/tribes/IMG_20190405_122146.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/tribes/IMG_20190405_122146.webp);
  background-size: cover;
}

.tribes .bg-section-one .stacked__images__one #top__image__1 div {
  background: url("../assets/images/tribes/tribes/IMG_20190405_121932.webp") !important;
  background-size: cover !important;
}

.tribes .bg-section-one .stacked__images__one #bottom__image__1 div {
  background: url("../assets/images/tribes/tribes/IMG_20190405_123839.webp") !important;
  background-size: cover !important;
}

.tribes .bg-section-two {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/tribes/tribes/konyak-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/tribes/konyak-1.webp);
  background-size: cover;
}

.tribes .bg-section-two .stacked__images__two #top__image__2 div {
  background: url("../assets/images/tribes/tribes/konyak-2.webp") !important;
  background-size: cover !important;
  background-position: center center !important;
}

.tribes .bg-section-two .stacked__images__two #bottom__image__2 div {
  background: url("../assets/images/tribes/tribes/konyak-3.webp") !important;
  background-size: cover !important;
}

.tribes .bg-section-three {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/tribes/tribes/majuli-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/tribes/majuli-1.webp);
  background-size: cover;
}

.tribes .bg-section-three .stacked__images__three #top__image__3 div {
  background: url("../assets/images/tribes/tribes/majuli-2.webp") !important;
  background-size: cover !important;
  background-position: center center !important;
}

.tribes .bg-section-three .stacked__images__three #bottom__image__3 div {
  background: url("../assets/images/tribes/tribes/majuli-3.webp") !important;
  background-size: cover !important;
}

.tribes .bg-section-four {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(/assets/images/tribes/tribes/memba-1.webp);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/tribes/memba-1.webp);
  background-size: cover;
}

.tribes .bg-section-four .stacked__images__four #top__image__4 div {
  background: url("../assets/images/tribes/tribes/memba-2.webp") !important;
  background-size: cover !important;
}

.tribes .bg-section-four .stacked__images__four #bottom__image__4 div {
  background: url("../assets/images/tribes/tribes/memba-3.webp") !important;
  background-size: cover !important;
}
/*# sourceMappingURL=tribes.css.map */