.the-galos-of-aalo{
    .bg-section-one{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_121914.webp);
        background-size: cover;
    }
    .bg-section-two{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_121932.webp);
        background-size: cover;
    }
    .bg-section-three{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_121936.webp);
        background-size: cover;
    }
    .bg-section-four{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_122018.webp);
        background-size: cover;
    }
    .bg-section-five{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_122055.webp);
        background-size: cover;
    }
    .bg-section-six{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_122146.webp);
        background-size: cover;
    }
    .bg-section-seven{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_123839.webp);
        background-size: cover;
    }
    .bg-section-eight{
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(/assets/images/tribes/galos-of-aalo/IMG_20190405_121914.webp);
        background-size: cover;
    }

    #image__gallery__image__1{
        background: url('/assets/images/tribes/galos-of-aalo/IMG_20190405_121914.webp') !important;
        background-size: cover !important;
    }
    #image__gallery__image__2{
        background: url('/assets/images/tribes/galos-of-aalo/IMG_20190405_121932.webp') !important;
        background-size: cover !important;
    }
    #image__gallery__image__3{
        background: url('/assets/images/tribes/galos-of-aalo/IMG_20190405_121936.webp') !important;
        background-size: cover !important;
    }
    #image__gallery__image__4{
        background: url('/assets/images/tribes/galos-of-aalo/IMG_20190405_122018.webp') !important;
        background-size: cover !important;
    }
    #image__gallery__image__5{
        background: url('/assets/images/tribes/galos-of-aalo/IMG_20190405_122055.webp') !important;
        background-size: cover !important;
    }
    #image__gallery__image__6{
        background: url('/assets/images/tribes/galos-of-aalo/IMG_20190405_122146.webp') !important;
        background-size: cover !important;
    }
}